<p style="color: green"><%= notice %></p>

<div class="container">
  <%= render @post %>

  <div>
    <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-warning btn-sm" %>
    <%= link_to "Back to posts", posts_path, class: "btn btn-primary btn-sm" %>

    <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger btn-sm" %>
  </div> 
</div>
